<div class="container mt-5">
  <h1>My Tasks</h1>

  <ul>
  <% @tasks.each do |task|%>
  <li>
        <% if task.completed? %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <%= link_to task.title, task_path(task.id) %>
        <%= button_to "Delete", task_path(task.id), method: :delete, confirm: "Are you sure?"%>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </li>
  </ul>

  <%= link_to new_task_path do %>
    <i class="fa-solid fa-plus"></i> Add a new task
  <% end %>
</div>
